.content {
	width: 1200px;
	height: 600px;
	background: white;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	overflow-y: scroll;
}

.l3h5 {
	width: 88%;
	border: 1px solid #D8D8D8;
	border-bottom: none;
	margin: 0 auto;
	text-align: center;
	margin-top: 1rem;
}

.l3h5 ul {
	width: 100%;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #D8D8D8;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 30px
}

.l3h5d ul:nth-child(1) {
	
	height: 80px;
	
	
}
.l3h5d ul:nth-child(1) li {
	height: 100%;
	line-height: 80px;
}
.l3h5d ul:nth-child(2){
	
	height: 50px;

}
.l3h5d ul:nth-child(2) li{
	
	height: 100%;
	line-height: 50px;
	
}
.l3h5d ul:nth-child(3){
	
	height: 50px;

}
.l3h5d ul:nth-child(3) li{
	
	height: 100%;
	line-height: 50px;
	
}

.l3h5 ul li {
	width: 50%;
	height: 30px;
	line-height: 30px;
	float: left;
	border-right: 1px solid #D8D8D8;
	box-sizing: border-box;
	text-align: center;
}

.l3h5 ul li input {
	width: 100%;
	text-align: center;
	border: none;
	outline: none;
}

.l3h5 .l3h5_lastLi,
.l3h5 .l3h5_lastUl {
	width: 33%;
	border: none;
}

.l3h5 ul li:last-child {
	border-right: none;
}

.xiala_text {
	display: none;
	background: #CCCCCC;
	text-indent: .3rem;
}

.first,
.second {
	display: inline-block;
	width: .6rem;
	/*border: 1px solid green;*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.he {
	display: inline-block;
	width: .3rem;
	/*border: 1px solid green;*/
	overflow: hidden;
}
.add{
	
	float: right;
	margin-top: 2%;
	margin-right: 6%;
	color: red;
	margin-bottom: 2%;
	
	
}
