.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
/* 轮播图 */
.banner-wrap{
    position: relative;
}
.banner-wrap img{
    width: 100%;
    display: block;
}
.banner-wrap .swiper-pagination span{
    background-color: #fff;
}
.banner-wrap-zp .swiper-pagination span.swiper-pagination-bullet-active{
    opacity: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}
.swiper-pagination-bullet{
    width: 12px;
    height:12px;
}

/* 解答问题 */
.answer-questions{
    width: 100%;
    height: 408px;
    padding: 60px 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.answer-questions h1{
    width: 810px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    color: #fff;
    padding-left: 23px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #4bb4fa;
}
.answer-questions .inner-wrap>p{
    color: #000000;
    font-size: 20px;
    margin: 25px 0;
}
.answer-questions .answer-list{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}
.answer-questions .answer-list li{
    text-align: center;
}
.answer-questions .answer-list li .img-wrap{
    width: 85px;
    height: 90px;
    display:table-cell;
    vertical-align:middle;
}
.answer-questions .answer-list li .img-wrap img{
    text-align: center;
}
.answer-questions .answer-list li p{
    font-size: 18px;
    color: #262626;
}

/* 测验步骤 */
.test-steps{
    width: 100%;
    height: 900px;
    background-color: #fff;
}
.test-steps .inner-wrap h1{
    font-weight:bold;
    text-align: center;
    margin: 90px auto 40px;
}
.test-steps .inner-wrap>p{
    color: #262626;
    line-height: 44px;
    font-size: 26px;
    text-align: center;
}

.steps-wrap{
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    margin-top: 60px;
}
.steps-wrap .steps-item{
    width: 366px;
    height: 448px;
    text-align: center;
    border-radius: 8px;
    background-color: #52c2fa;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
}
.steps-wrap .steps-item::after{
    content: '';
    width: 29px;
    height: 37px;
    display: block;
    background: url(../../images/home/you.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: -39px;
    margin-top: -18px;
}
.steps-wrap .steps-item .img-wrap{
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}
.steps-wrap .steps-item .img-wrap img{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
}
.steps-wrap .steps-item .text h3{
    font-size: 26px;
    margin: 24px auto 35px;
}
.steps-wrap .steps-item .text p{
    font-size: 20px;
    color: #3e3b3a;
}
.steps-wrap .steps-item:nth-child(2){
    background-color: #ff9c98;
}
.steps-wrap .steps-item:nth-child(3){
    background-color: #77d7ff;
}

/* 导入数据&购买 */
.about-gene{
    width: 100%;
    height: 554px;
    padding: 108px 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.about-gene .inner-wrap{
    height: 346px;
    border-radius: 8px;
    background: -moz-linear-gradient(top, #afabed 0%, #d0c2ed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afabed), color-stop(100%, #d0c2ed));
	background: -webkit-linear-gradient(top, #afabed 0%, #d0c2ed 100%);
	background: -o-linear-gradient(top, #afabed 0%, #d0c2ed 100%);
	background: -ms-linear-gradient(top, #afabed 0%, #d0c2ed 100%);   
}

.about-gene .gene-item{
    width: 50%;
    text-align: center;
    color: #fff;
    float: left;
}
.about-gene .gene-item .text{
    height: 150px;
    margin-bottom: 10px;
}
.about-gene .gene-item h1{
    font-size: 54px;
    margin: 50px 0 30px;
}
.about-gene .gene-item p{
    font-size: 16px;
}
.about-gene .gene-item .btn{
    width: 355px;
    height: 84px;
    line-height: 84px;
    color: #fff;
    font-size: 26px;
    text-align: center;
    background-color: #37afe6;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}



